*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  
}
.text-center
{
  text-align: center;
}
.bg-green
{
  background-color:green;
}
.bg-blue
{
  background-color:blue;
}
.bg-blueviolet
{
  background-color:blueviolet;
}
.section-desc
{
  clear: both;
  padding-top:10px;
}
.section-title
{
  border-left:1px solid black;
  border-bottom:1px solid black;
  border-width: thick;
  position: relative;
  width:100px;
  padding:5px;
  text-align: center;
  float: right;
  margin-right: -16px;
  color:white;
  
}
.section-group
{
  padding-left:10px;
  padding-right: 10px;
  padding-top:10px;
}
.section{
  border:1px solid black;
  border-width: thick;
  float: left;
  margin-top:10px;
  margin-bottom:10px;
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 150px;
}
@media (min-width: 576px)
{
    .section {
        max-width: 100%;
      }
      .section:nth-child(3)
    {
      max-width: 100%;
    }
}
@media (min-width: 768px)
{
    .section {
        max-width: 48%;
        margin-left:1%;
        margin-right:1%;
      }
    .section:nth-child(3)
    {
      max-width: 98%;
    }
}
@media(min-width:992px)
{
    .section {
        max-width: 31.333333%;
        margin-left:1%;
        margin-right: 1%;
      }
      .section:nth-child(3)
    {
      max-width: 31.333333%;
      
    }
}
